.titulo-principal{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /*Buscar fuente robusta xd esta no me gusto*/
    font-size: 38px;
    font-weight: bold;
    color: #9c9583;
    text-align: center;
}